<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1> URL Shortener</h1>
    <form action="/shorten" method="POST">
        <lable for="longUrl">Enter Long URL :</lable>
        <input type="url" id="longUrl" name="longUrl" required/>
        <button type="submit">Generate Short URL</button>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit cupiditate velit inventore harum eum? Voluptatem eos, facilis autem dolore quaerat laudantium laborum reprehenderit quidem porro distinctio nemo labore veritatis necessitatibus!</h4>
    </form>
</body>
</html>